.folders {
	list-style: none;
	width: 100%;
	padding: 0;
}

.folders li {
	cursor: pointer;
	margin: 20px;
	padding: 10px;
	border: 1px solid white;
}

.sideBar {
	display: flex;
	justify-content: center;
	float: left;

	height: 800px;
	border-right: 1px solid black;
	background-color: grey;
}
